body{

font-family: Arial;
background:#F5F5DC;
margin:0;
padding:0;

}

/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
background:#4F3E34;
color:white;
padding:15px 40px;

}

.logo{

font-size:24px;
font-weight:bold;

}

.menu-btn{

background:#C6AC8F;
border:none;
padding:10px 15px;
cursor:pointer;
border-radius:6px;
font-weight:bold;

}

/* Dropdown */

.dropdown{

position:relative;
display:inline-block;

}

.dropdown-content{

display:none;
position:absolute;
background:#DED1B6;
min-width:200px;
right:0;
border-radius:6px;
overflow:hidden;

}

.dropdown-content a{

color:black;
padding:10px;
display:block;
text-decoration:none;

}

.dropdown-content a:hover{

background:#C6AC8F;

}

.dropdown:hover .dropdown-content{

display:block;

}

/* MAIN */

.main-container{

text-align:center;
padding:40px;

}

.subtitle{

font-size:18px;
color:#4F3E34;

}

/* TRANSLATOR */

.translator-container{

display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
flex-wrap:wrap;

}

/* CAMERA */

.camera{

width:600px;
border-radius:15px;
border:4px solid #4F3E34;

}

/* OUTPUT */

.output-section{

background:#DED1B6;
padding:30px;
border-radius:12px;
width:350px;

}

#sentenceBox{

margin-top:20px;
font-size:24px;
font-weight:bold;
color:#4F3E34;

}

/* BUTTONS */

.buttons{

margin-top:30px;

}

button{

padding:12px 20px;
margin:10px;
border:none;
border-radius:8px;
font-size:16px;
background:#C6AC8F;
cursor:pointer;
font-weight:bold;

}

button:hover{

background:#b89a79;

}