<!DOCTYPE html>
<html>

<head>

<title>SignSetu - AI Sign Language Translator</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">

<div class="logo">🤟 SignSetu</div>

<div class="menu">

<div class="dropdown">

<button class="menu-btn">Menu ▾</button>

<div class="dropdown-content">

<a href="#">My Profile</a>
<a href="#">Subscription Plans</a>
<a href="#">Account Settings</a>
<a href="#">Theme</a>
<a href="#">Skills & Development</a>
<a href="#">Support & Help Center</a>
<a href="#">About Us</a>
<a href="#">Logout</a>

</div>

</div>

</div>

</nav>


<div class="main-container">

<h1>AI Sign Language Translator</h1>

<p class="subtitle">
Translate sign language into text and speech in real-time
</p>


<div class="translator-container">

<div class="camera-section">

<img src="{{ url_for('video') }}" class="camera">

</div>


<div class="output-section">

<h2>Detected Sentence</h2>

<div id="sentenceBox">Waiting for signs...</div>


<div class="buttons">

<button onclick="speakSentence()">🔊 Speak Sentence</button>

<button onclick="clearSentence()">🧹 Clear</button>

</div>

</div>

</div>

</div>



<script>

let lastWord=""

function updateSentence(){

fetch('/sentence')

.then(response=>response.json())

.then(data=>{

let text=data.sentence

document.getElementById("sentenceBox").innerText=text

let words=text.split(" ")

let newWord=words[words.length-1]

if(newWord && newWord!==lastWord){

speakWord(newWord)

lastWord=newWord

}

})

}

setInterval(updateSentence,1000)


function speakWord(word){

let speech=new SpeechSynthesisUtterance(word)

speech.lang="en-US"

speechSynthesis.speak(speech)

}


function speakSentence(){

let text=document.getElementById("sentenceBox").innerText

let speech=new SpeechSynthesisUtterance(text)

speech.lang="en-US"

speechSynthesis.speak(speech)

}


function clearSentence(){

fetch('/clear')

lastWord=""

}


document.addEventListener("keydown",function(e){

if(e.key==="s"){

speakSentence()

}

if(e.key==="c"){

clearSentence()

}

})

</script>

</body>

</html>